---
import MainLayout from "../layouts/MainLayout.astro";
import Cards from "../components/Cards.astro";
---

<MainLayout>
  <main>
    <section class="blaa">
      <div class="grid_1-1">
        <div class="overskrift_blaa">
          <img src="../../billeder/LOGO_blaa.svg" alt="videoer" />
        </div>
        <div class="ballon_header">
          <img src="../../billeder/balloner.webp" alt="balloner" />
        </div>
      </div>
      <div class="videokasse">
        <video width="500" height="auto" controls>
          <source src="../../billeder/Hospis_film.mp4" type="video/mp4" />
        </video>
      </div>
    </section>

    <div class="afsnit_2header">
      <img src="../../billeder/LOGO.svg" alt="" />
    </div>
    <div class="vores_mission">
      <img src="../../billeder/voresmission.webp" alt="" />
    </div>
    <div class="ai_figur"></div>
      <div class="tekst">
        <p>Tryllekunstnere kan skabe lys og glæde i svære stunder, og netop det er formålet med en velgørenhedsfond dedikeret til at bringe magi ind på hospitaler. Idéen bag fonden er at sende tryllekunstnere ud til børneafdelinger, hvor de med mae omstændigheder. Det er en kærlig støtte, som bringer lidt ekstra hverdagsmagi til børn i nød.</p>
      </div>
    </div>
      <div class="tekst">
        <p>Tryllekunstnere kan skabe lys og glæde i svære stunder, og netop det er formålet med en velgørenhedsfond dedikeret til at bringe magi ind på hospitaler. Idéen bag fonden er at sende tryllekunstnere ud til børneafdelinger, hvor de med mae omstændigheder. Det er en kærlig støtte, som bringer lidt ekstra hverdagsmagi til børn i nød.</p>
      </div>
    </div>

    <Cards />
       <Cards />
  </main>
</MainLayout>

<style>
  video {
    padding: 2rem;
    margin: 2.2rem;
    border-radius: 40px;
  }
  .overskrift_blaa {
    width: 60%;
    padding: 2.5rem;
    margin-bottom: -3rem;
  }
  .grid_1-1 {
    display: flex;
    gap: 60px;
    margin: 1rem;
  }
  .ballon_header {
    width: 25%;
  }
  .blaa {
    background-color: #d9edff;
    height: 370px;
  }
  .gul {
    background-color: #fffef4;
  }
  .afsnit_2header {
    margin-top: 13rem;
    width: 70%;
    margin-left: 6rem;
  }
  .vores_mission {
    width: 40%;
    margin-left: 9rem;
  }

  .tekst {
    max-width: 65ch;
  margin: auto;
  padding: 1rem;
    font-size: 0.8rem;
  }
</style>
