<div class="container">
    <div class="card">
      <img src="./billeder/barn_1.webp" alt="barn1">
      <div class="card-body">
        <h4>Ambassadører</h4>
        <a href="#" class="knap"><img src="./public/billeder/pilknap.png" alt=""></a>
      </div>
    </div>
</div>

<style>
.container {
margin: 0 auto;
width: 14rem;
}
.card {
padding: 15px;
border-radius: 10px;
background-color: #C1E8D6;
}
img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.knap img {
    width: 50%;
}
</style>