<div class="card">
  <img class="card-billede" src="public/billeder/barn_1.webp" alt="Billede af barn">
  <div class="card-body">
    <h5 class="card-title">Ambassadører</h5>
    <a href="#" class="btn">Skal være en pil</a>
  </div>
</div>

<style>
    .card {
        width: 18rem;
    }

    .btn
</style>