<div class="container">
    <div class="card">
      <img src="./billeder/barn_1.webp" alt="barn1">
      <div class="card-body">
        <h4>Ambassadører</h4>
        <a href="#" class="knap"><img src="./billeder/pilknap.png" alt=""></a>
      </div>
    </div>
</div>

<div class="container">
    <div class="card2">
      <img src="./billeder/barn_2.webp" alt="barn1">
      <div class="card-body">
        <h4>Ambassadører</h4>
        <a href="#" class="knap"><img src="./billeder/pilknap.png" alt=""></a>
      </div>
    </div>
</div>

<div class="container">
    <div class="card3">
      <img src="./billeder/barn_3.webp" alt="barn1">
      <div class="card-body">
        <h4>Ambassadører</h4>
        <a href="#" class="knap"><img src="./billeder/pilknap.png" alt=""></a>
      </div>
    </div>
</div>

<style>
.container {
margin: 2rem auto;
width: 14rem;
}
.card {
padding: 15px;
border-radius: 10px;
background-color: #C1E8D6;
}

.card2 {
padding: 15px;
border-radius: 10px;
background-color: #9FD1FF;
}
.card3 {
padding: 15px;
border-radius: 10px;
background-color: #EA9898;
}

.card-body {
    display: flex;
flex-direction: column;
    padding: 1rem 0;
}
img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.knap img {
    width: 20%;
    border-radius: 0;
}
img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
</style>