<a href="#" class="sticky-side-button">STØT NU</a>

<style>
    .sticky-side-button {
color: #ffffff; /* You can change font color */
font-family: "afacad";
font-weight: bold;
font-size: 18px;  /* You can change font size */
background-color: #CA89E0; /* You can change color button */
border-radius: 0px 4px 4px 0px;
letter-spacing: 0.8px;
text-transform: uppercase;
text-decoration: none;
box-shadow: 0px 25px 28px -21px rgba(194,180,190,1);
padding: 12px 20px;
z-index: 10;
position: fixed;
top: 30rem;
left: 0px;
}

.sticky-side-button:hover {
background-color: #E8C5EF;
transition: 0.2s;
box-shadow: none;
}
</style>